@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,500;0,900;1,500;1,900&display=swap');

body, body * {

    margin: 0;
    box-sizing: border-box;
}

 ::-webkit-scrollbar {
    display:none;
}

button {

    appearance: none;
    border: none;
    padding: 12px;
}

body {

    font-family:'Figtree', sans-serif;
    color: black;

}

section.projet {

    height: 200vh;
    background-color: rgb(106, 143, 255);
    background-size: cover;
    background-position: center;
    padding: 32px;
    color: rgb(0, 0, 0);
    max-height: 200vh;
   
}

section.projet h1 {
    
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 32px;
    padding-bottom: 32px; 
    
    
}

section.projet div.image{

    margin: 32px;
    height: 35%;
    background-image: url(./assets/projet-son/StoryboardAnim.png);
    background-color: rgb(131, 189, 255);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

